<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    {{formInput fields.name value=source.name}}
  </header>

  <section class="sheet-body">
     {{formField 
       systemFields.description
       value=system.description
       name="system.description"
     }}
  </section>
</form>